<h2>Team Builder</h2>
{{vm.players.length}}
<div class="row">
    <div class="small-6 columns">
        <label>Enter player name
        <input type="text" ng-model="search"/>
      </label>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Abbreviation</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="player in vm.players | filter:search">
               <td>{{player.player.ID}}</td>
               <td>{{player.player.FirstName}}</td>
               <td>{{player.player.LastName}}</td>
               <td>{{player.team.Name}}</td>
               <td>{{player.team.Abbreviation}}</td>

           </tr>
        </tbody>
    </table>
</div>