<h2>Team Builder</h2>

<div class="row">
    <div class="small-8 columns">
        <label>Search for a player
        <input type="text" ng-model="search"/>
      </label>
    </div>
    <div class="small-4 columns">
      <label>Where are they playing
        <select ng-options="item for item in vm.positions" ng-model="vm.activePosition"></select>
      </label>
    </div>
</div>
<div class="row">
    <div class="small-8 columns">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last Name</th>
                    <th>Team</th>
                    <th>Abbreviation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="search.length > 3" ng-repeat="player in vm.players | filter:search">
                    <td>{{player.player.ID}}</td>
                    <td>{{player.player.FirstName}}</td>
                    <td>{{player.player.LastName}}</td>
                    <td>{{player.team.Name}}</td>
                    <td>{{player.team.Abbreviation}}</td>
                    <td><button class="button" ng-click="vm.addPlayerToLineUp(player, vm.activePosition)">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
     <div class="small-4 columns">
       <table ng-repeat="(key, value) in vm.lineup">
          <thead>
               <tr>
                  <th>{{key}}</th>
              </tr>
          </thead>
          <tbody>
               <tr ng-repeat="player in value">
                  <td>{{player.player.FirstName}} {{player.player.LastName}} {{player.team.Abbreviation}}</td>
              </tr>
          </tbody>
       </table>
    </div>
</div>
</div>