<h2>Team Builder</h2>

<div class="row">
    <div class="small-8 columns">
        <label>{{vm.activePosition === 'goalies' ? "Search Teams" : "Search Players"}}
          <input type="text" ng-model="search"/>
        </label>
    </div>
    <div class="small-4 columns">
        <label>What position
        <select ng-options="item for item in vm.positions" ng-model="vm.activePosition"></select>
      </label>
    </div>
</div>
<div class="row">
    <div class="small-8 columns">
        <div ng-if="vm.activePosition !== 'goalies'">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last Name</th>
                        <th>Team</th>
                        <th>Abbreviation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="search.length > 3" ng-repeat="player in vm.players | filter:search">
                        <td>{{player.player.ID}}</td>
                        <td>{{player.player.FirstName}}</td>
                        <td>{{player.player.LastName}}</td>
                        <td>{{player.team.Name}}</td>
                        <td>{{player.team.Abbreviation}}</td>
                        <td><button class="button" ng-click="vm.addPlayerToLineUp(player, vm.activePosition)">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="vm.activePosition === 'goalies'">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>City</th>
                        <th>Name</th>
                        <th>Abbreviation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="search.length > 3" ng-repeat="team in vm.teams | filter:search">
                        <td>{{team.ID}}</td>
                        <td>{{team.City}}</td>
                        <td>{{team.Name}}</td>
                        <td>{{team.Abbreviation}}</td>
                        <td><button class="button" ng-click="vm.addTeamToLineUp(team)">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="small-4 columns">
        <team-display-directive team="vm.lineup"></team-display-directive>
    </div>
</div>
</div>