<table>
    <thead>
        <tr>
            <th>Forwards</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in vm.team.forwards track by $index">
            <td>{{player.player.FirstName}} {{player.player.LastName}} {{player.team.Abbreviation}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Defenders</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in vm.team.defenders track by $index">
            <td>{{player.player.FirstName}} {{player.player.LastName}} {{player.team.Abbreviation}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Goalies</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="vm.team.goalies">
            <td>{{vm.team.goalies.Name}} - {{vm.team.goalies.Abbreviation}}</td>
        </tr>
    </tbody>
</table>